<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Foster Agency</li>
            </ul>
            <h2 class="text-uppercase">How to choose a foster agency</h2>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>


<section class="feedback-area bg-6dbbbd pt-100 pb-70">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1 class="text-white">
                    If you’re not sure where to start when you’re choosing between fostering agencies, our checklist
                    should help you understand the topics that are worth your while to consider.
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="container text-left border-red">
                    <h1 class="text-yellow">Key questions about foster agencies</h1>
                    <p class="text-white text-space-size">
                        If you’re new to fostering, there’s a lot of information to process and you might not know where
                        to start. Whichever foster agency you decide to sign up with, you need to have complete
                        reassurance you’re making the right decision. These are the main topics you should be paying
                        extra attention to.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Levels of support</h1>
                    <p class="text-white text-space-size">
                        Ideally, you will want to work with a foster agency that has a team and resources local to you.
                        Fostering is brilliant – but it’s challenging too. The support of a local team with a dedicated
                        supporting social worker and an active peer group will make all the difference. Our carers have
                        told us their relationship with their dedicated social worker is of paramount importance to
                        them, with 7 out of 10 carers stating it is this relationship and the support they get from
                        their social worker that keeps them happy and fostering.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Pay</h1>
                    <p class="text-white text-space-size">
                        Choose a foster agency who is transparent about how much fostering allowance you will be paid
                        and what else you might get financial help with, like birthday presents or disability
                        modifications to your home. Choose a foster agency that encourages you to discuss finances with
                        them.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Training</h1>
                    <p class="text-white text-space-size">
                        As well as giving you the skills to fulfil your role as a foster carer, training is an
                        opportunity for personal development and can help make you the fostering expert. Choose a foster
                        agency that gives you plenty of good training opportunities at a venue local to you or online.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Perks and benefits</h1>
                    <p class="text-white text-space-size">
                        From foster carer home insurance to high street discounts and legal advice, a first class foster
                        agency will make sure you have everything you need – and then some! After all, it’s the little
                        things that make all the difference.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Mission and values</h1>
                    <p class="text-white text-space-size">
                        Foster carers are self employed but it’s an important role and you’re entitled to know and feel
                        you’re part of something bigger. Your ideal foster agency should articulate what they stand for
                        and everything they do should uphold this vision.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Oftsed ratings</h1>
                    <p class="text-white text-space-size">
                        Every independent fostering agency has to register with Ofsted and have regular inspections.
                        Make sure your foster agency is rated as OUTSTANDING or GOOD with a clear roadmap to consistent
                        improvement and excellence.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Pay</h1>
                    <p class="text-white text-space-size">
                        Choose a foster agency who is transparent about how much fostering allowance you will be paid
                        and what else you might get financial help with, like birthday presents or disability
                        modifications to your home. Choose a foster agency that encourages you to discuss finances with
                        them.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Reputation</h1>
                    <p class="text-white text-space-size">
                        What do other foster carers say about a foster agency? What do the foster children themselves
                        say? Testimonials and case studies are insightful when you’re trying to get a feel for whether a
                        foster agency is going to be good for you
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Partnerships</h1>
                    <p class="text-white text-space-size">
                        Hand-in-hand with its mission and values, a foster agency will forge good relationships with
                        other organisations. This will start with the local authority but will be much further reaching.
                        Our partners, for example, include Investors in People, The Fostering Network and New Family
                        Social.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Experience</h1>
                    <p class="text-white text-space-size">
                        Look for a foster agency that is well-established. There’s nothing quite like knowing you have
                        experience at your back. In addition, foster agencies who have been established for a number of
                        years are more financially robust. On a personal level, the experience of your local teams is
                        important too – these are the people you will have most contact with, who will be supporting you
                        in your role.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">What is an independent fostering agency?</h1>
                    <p class="text-white text-space-size">
                        An independent fostering agency (also known simply as a foster agency) trains, approves and
                        supports foster carers as they look after children or young people. They can be a private
                        organisation or have charitable status and must be registered with Ofsted.
                    </p>
                    <p class="text-white text-space-size">
                        Children and young people who can’t, for whatever reason, continue to be cared for at home
                        become the responsibility of their local authority. Unfortunately, there is high demand for
                        foster carers that local authorities can’t fulfil. Fostering agencies work with local
                        authorities to provide the skilled foster carers needed.
                    </p>
                    <p class="text-white text-space-size">
                        The requirements of the foster child placements vary, from emergency or short term to long term
                        and remand fostering.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">What’s your next step?</h1>
                    <p class="text-white text-space-size">
                        If you have questions, your local National Fostering Group team will be more than happy to have
                        an informal chat, with no pressure to sign up.
                    </p>
                </div>
            </div>


        </div>
    </div>

    <div class="kindergarten-shape13"><img src="assets/img/kindergarten-shape/k-shape13.png" alt="image"></div>
    <!-- <div class="kindergarten-shape14"><img src="assets/img/kindergarten-shape/k-shape14.png" alt="image"></div> -->
</section>