  .odemy-nav .navbar .navbar-brand img {
      width: 195px;
  }
  .odemy-nav.nav.nav-top {
      background: #fe4a55;
      color: #fff !important;
      height: 45px;
      position: relative;
      align-items: center;
      font-size: 13px;
  }
  
  .odemy-nav.nav.nav-top a{
    color: #fff !important;
  }
  .odemy-nav.nav.nav-top .topMenu a{
    padding: 0px 10px;
  }
  .odemy-nav .list-inline {
      margin-bottom: 0px;
  }
  .odemy-nav .fa, .fas {
      font-weight: 900;
      padding-right: 5px;
  }
  .odemy-nav .fa {
      padding: 10px;
      font-size: 18px;
      width: 40px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
    }
    
    .odemy-nav .fa:hover {
        opacity: 0.7;
    }
    .companyContact li.list-inline-item:nth-child(1) {
        padding-right: 20px;
        border-right: 1px solid;
    }
    .companyContact li.list-inline-item:nth-child(2) {
        padding-left: 20px;
    }
    // .odemy-nav .companyContact li.list-inline-item:nth-child(2) {
    //     position: relative;
    //     top: 5px;
    // }
    // .odemy-nav .vDivider {
    //     margin: 0px 20px;
    //     width: 1px !important;
    //     height: 25px;
    //     background: #fff;
    // }
.odemy-nav .socialIcons .fab, .odemy-nav .socialIcons .fa {
    font-size: 16px;
    padding: 0px 5px;
}
  .odemy-nav a.navbar-brand {
    margin-right: 0px;
}


@media only screen and (max-width: 1199px){
  .odemy-nav.nav.nav-top {
    display: block;
}
.odemy-nav .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}
.odemy-nav.nav.nav-top{
  height: 30px;
  padding-top: 5px;
  margin-bottom: 10px;
}
.navbar-area {
  padding-top: 0px !important;
}
.list-inline.mx-auto.companyContact {
  text-align: center;
}

}
@media (max-width:480px)  {
    // .nav-top{
    //     display: none;
    // }
    .mean-container .mean-nav ul li a .flaticon-home {
      display: block !important;
  }
}
#languageBox {
  margin-right: 0px;
}
a.default-btn {
    text-transform: uppercase;
}
.odemy-nav .navbar .navbar-nav .nav-item a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.default-btn {
  font-weight: 700;
  font-size: 14px;
}
.odemy-nav .navbar .navbar-nav .nav-item a i {
    position: relative;
    top: 0px;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: 900;
}
.odemy-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
    text-transform: capitalize !important;
}
i.flaticon-home {
    top: -3px !important;
}
.odemy-nav.nav.nav-top .topMenu a {
    text-transform: capitalize;
}
.flaticon-home:before {
  content: "\f11b";
  font-size: 20px !important;
  position: relative;
  top: -3px;
}

select.languageSelector {
  background: transparent !important;
  border: 0px;
  color: #fff;
  font-weight: 800 ;
  width: 80px;
}
.languageSelector option {
  background: #fff;
  color: #000;
}
.languageSelector option:hover {
  background: #fe4a55;
  color: #fff;
}
select.selectpicker.countrypicker {
  background: transparent !important;
  border: 0px;
  color: #fff;
  font-weight: 800 ;
  width: 80px;
}


/*
Make bootstrap-select work with bootstrap 4 see:
https://github.com/silviomoreto/bootstrap-select/issues/1135
*/
.dropdown-toggle.btn-default {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}
.bootstrap-select.show > .dropdown-menu > .dropdown-menu {
  display: block;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
  display: none;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  text-decoration: none;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {
  background-color: #f4f4f4;
}
.bootstrap-select > .dropdown-toggle {
  width: 100%;
}
.dropdown-menu > li.active > a {
  color: #fff !important;
  background-color: #337ab7 !important;
}
.bootstrap-select .check-mark {
  line-height: 14px;
}
.bootstrap-select .check-mark::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.bootstrap-select button {
  overflow: hidden;
  text-overflow: ellipsis;
}
 
/* Make filled out selects be the same size as empty selects */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline !important;
}