<div class="navbar-area">
    <div class="nav nav-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 my-auto">
                    <ul class="list-inline mx-auto companyContact">
                        <li class="list-inline-item">
                            <i class="fas fa-phone"></i>+44 707 777 7777
                        </li>
                        <li class="list-inline-item">
                            <div class="vDivider"></div>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-envelope"></i>info@fostercare.co.uk
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 text-center my-auto socialIcons">
                    <ul class="list-inline mx-auto">
                        <li class="list-inline-item">
                            <a href="#" class="fab fa-facebook-square"></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="fab fa-twitter-square"></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="fab fa-linkedin"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 text-right my-auto topMenu">
                    <ul class="list-inline mx-auto">
                        <li class="list-inline-item"><a routerLink="/latest-news">Latest News</a></li>
                        <li class="list-inline-item"><a routerLink="/help">Help</a></li>
                        <li class="list-inline-item"><a routerLink="/blog">Blog</a></li>
                        <li class="list-inline-item"><a routerLink="/enquire-us">Enquire us</a></li>
                    </ul>
                </div>

                <div class="col-md-2 text-right my-auto">
                    <ul class="list-inline mx-auto">
                        <li class="list-inline-item languageBox">
                            <select name="options">
                                <option class="en" value="en">
                                    <img sec="assets/img/flags/en.png" />English
                                </option>
                                <option class="fr" value="fr">French</option>
                                <option class="nl" value="nl">
                                    Nederlands
                                </option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="odemy-responsive-nav">
        <div class="container">
            <div class="odemy-responsive-menu">
                <div class="logo">
                    <a routerLink="/"
                        ><img src="assets/img/logo.png" alt="logo"
                    /></a>
                </div>
            </div>
        </div>
    </div>

    <div class="odemy-nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/"
                    ><img src="assets/img/logo.png" alt="logo"
                /></a>

                <div class="collapse navbar-collapse mean-menu">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a routerLink="/"
                            class="nav-link"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{
                                exact: true
                            }"
                                ><i class="flaticon-home"></i
                                    ></a
                            >
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                About Fostering
                                <i class="bx bx-chevron-down"></i
                            ></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a
                                        routerLink="/why-foster"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Why Foster ?</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a
                                        routerLink="/who-can-foster"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Who can Foster ?</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a
                                        routerLink="/fostering-types"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Types of Fostering</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a
                                        routerLink="/foster-carer"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Become a Foster Carer</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        routerLink="/transfer"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Thinking of a Transfer</a
                                    >
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a    routerLink="/why-us"
                            class="nav-link"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{
                                exact: true
                            }"
                                >Why us ?</a
                            >
                        </li>

                        <li class="nav-item">
                            <a routerLink="/contact"
                            class="nav-link"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{
                                exact: true
                            }"
                                >Contact</a
                            >
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link"
                                >About Us <i class="bx bx-chevron-down"></i
                            ></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a
                                        routerLink="/support"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Support</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a
                                        routerLink="/regulations-standards"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Regulations and Standards</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a
                                        routerLink="/vision"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        >Vision</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <div class="others-option d-flex align-items-center">
                        <div class="option-item">
                            <a (click)="goToLink()" class="default-btn"><i class="flaticon-user"></i>Login/Register<span></span></a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>

            <div class="container">
                <div class="option-inner">
                    <form class="search-box">
                        <input
                            type="text"
                            class="input-search"
                            placeholder="Search for anything"
                        />
                        <button type="submit">
                            <i class="flaticon-search"></i>
                        </button>
                    </form>

                    <div class="others-option d-flex align-items-center">
                        <div class="option-item">
                            <div class="cart-btn">
                                <a routerLink="/cart"
                                    ><i class="flaticon-shopping-cart"></i
                                    ><span>3</span></a
                                >
                            </div>
                        </div>

                        <div class="option-item">
                            <a
                                routerLink="/profile-authentication"
                                class="default-btn"
                                ><i class="flaticon-user"></i
                                >Login/Register<span></span
                            ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
