<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Mockingbird Family Model</li>
            </ul>
            <h2 class="text-uppercase">Mockingbird Family Model</h2>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>


<section class="feedback-area bg-6dbbbd pt-100 pb-70">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1 class="text-white pb-70">
                    The Mockingbird Family Model is a unique wraparound fostering service, 
                    with a focus
                    on placement stability and with carers and young person support at its core.
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="container text-left border-red">
                    <h1 class="text-yellow">The Mockingbird model</h1>
                    <p class="text-white text-space-size">
                        NFA London and Heath Farm in conjunction with The Fostering Network, is delivering the
                        Mockingbird programme, which is an innovative method of foster care using the Mockingbird Family
                        Model. This is an extended family model that provides sleepovers and short breaks, peer support,
                        regular joint planning and training, and social activities.
                    </p>
                    <p class="text-white text-space-size">
                        The programme improves the stability of fostering placements and strengthens the relationships
                        between carers, children and young people, fostering services and birth families. With strong
                        relationships at its core, our carer ‘constellations’ are made up of between 6 to 10 fostering
                        families with a ‘hub carer’ at the centre. The hub carers is an experienced foster carer, on
                        hand to support mockingbird foster carers when they need a little extra help.
                    </p>
                    <p class="text-white text-space-size">
                        Being part of the Mockingbird model ensures you are truly part of a fostering family. Both the
                        hub carer and team members organise regular social activities, for both young people and carers,
                        meaning there is a real sense of community and ultimately providing all children in our care
                        with a positive experience. National Fostering Group understand how important it is that our
                        carers feel confident and empowered in their fostering role and being part our the Mockingbird
                        model builds strong relationships and helps our foster cares to feel they have support around
                        them, at all times.
                    </p>
                    <p class="text-white text-space-size">
                        The outcomes of adopting the Mockingbird really do help to build incredible futures for our
                        young people. The constellation of fostering families, the hub carer, the team and the wider
                        community, results in a supportive network where together, we can solve any problems at arise,
                        to ensure we avoid placement breakdown where we can. With a one team approach, we can provide
                        new opportunities for young people to learn, explore who they are and find their way in the
                        world.
                    </p>
                </div>
            </div>


        </div>
    </div>
    <div class="kindergarten-shape13"><img src="assets/img/kindergarten-shape/k-shape13.png" alt="image"></div>
    <!-- <div class="kindergarten-shape14"><img src="assets/img/kindergarten-shape/k-shape14.png" alt="image"></div> -->
</section>