<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li>Becoming a foster carer</li>
      </ul>
      <h2 class="text-uppercase">Becoming a foster carer</h2>
    </div>
  </div>
  <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>

<div class="container">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Overview</a>
      <ng-template ngbNavContent>
        <section class="feedback-area bg-6dbbbd pt-70 pb-70">

          <div class="container">
            <div class="row">

              <div class="col-sm-12">
                <div class="container text-left border-red">
                  <h1 class="text-yellow"><em>Becoming a Foster Carer</em></h1>
                  <p class="text-white text-space-size">
                    You’ll be supported throughout your application to become a foster carer (also known as a foster
                    parent) with National Fostering Group. As the UK’s largest and most experienced agency, we’re with
                    you every step of the way.
                  </p>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="container text-left border-red">
                  <h1 class="text-yellow pt-3">How to become a foster carer</h1>
                  <p class="text-white text-space-size">
                    If you’re thinking about becoming a foster carer in the UK by joining National Fostering Group,
                    that’s brilliant! Good foster carers really make a difference to young lives, and carers also find
                    it very rewarding for themselves and their families.

                    Right now, we want to make sure you have all the information and support you need to take your next
                    steps to becoming a foster carer. After all, you’re making an important, life-changing decision that
                    will also affect your family and friends. Let’s start with an overview of the different stages of
                    the application process.</p>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="container text-left">
                  <h1 class="text-yellow pt-3">Fostering – how long does it take?</h1>
                  <p class="text-white text-space-size">
                    Once you get in touch, the process of applying to be a foster carer will take from four to six
                    months (16 to 26 weeks), including your training. Caring for children and young people is an
                    incredibly important and specialist commitment, so we need to get to know each other well and be
                    sure it’s right for everyone concerned.
                  </p>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="container text-left">
                  <h1 class="text-yellow pt-3">Fostering children in the UK</h1>
                  <p class="text-white text-space-size">
                    Sadly, thousands of foster children in the UK urgently need a stable, nurturing home where they can
                    thrive. As soon as you’ve been approved to become a foster carer with the National Fostering Group,
                    our team will use the information you’ve provided to match you with your first foster child. Your
                    local National Fostering Group agency will continue to support you during your role.
                  </p>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="container text-left">
                  <h1 class="text-yellow pt-3">Ongoing support when you foster a child</h1>
                  <p class="text-white text-space-size">
                    We know how potential foster carers value the support we give them while they are applying to foster
                    a child. We’re also committed to continuing to support you once you’ve been accepted.

                    National Fostering Group sees this as an ongoing relationship where we can work together to provide
                    the best care and outcomes. It’s a challenging role to foster a child and you’ll find it reassuring
                    to know there’s a team behind you.

                    We often talk about National Fostering Group being a family, and we mean it. Because our agencies
                    are based locally, you’ll really benefit from the personal contact you have with the people who can
                    support you.

                    The level of support we give our foster carers is one of the main reasons they continue to foster
                    children with us year after year. We will advise you, fight your corner, celebrate your achievements
                    and be there for you as you become an advocate for your foster children.
                  </p>
                </div>
              </div>

            </div>
          </div>

        </section>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Talk to us</a>
      <ng-template ngbNavContent>
        <section class="feedback-area bg-6dbbbd pt-70 pb-70">

          <div class="container">
            <div class="row">

              <div class="col-sm-12">
                <div class="container text-left border-red">
                  <h1 class="text-yellow"><em>Talk to us about fostering</em></h1>
                  <p class="text-white text-space-size">
                    Your next step to becoming a foster carer is to get in touch with our team.
                  </p>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="container text-left border-red">
                  <h1 class="text-yellow pt-3">Talk to your local agency team</h1>
                  <p class="text-white text-space-size">
                    We mean it when we say we support you through your application and into your role as a foster carer.
                    All you need to do is drop us a quick message using our enquiry form. You have the options to ask
                    for a call back or ask for an information pack.

                    If you’re ready for a call, a member of your local agency team will call you back as soon as they
                    can. They will go over the process again and you’ll have the opportunity to ask any , for example
                    about the fostering allowance or free training.

                    At this point, if you’re ready to start your application, you can arrange an initial home visit.
                  </p>
                </div>
              </div>

            </div>
          </div>

        </section>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Home visit</a>
      <ng-template ngbNavContent>
        <section class="feedback-area bg-6dbbbd pt-70 pb-70">

          <div class="container">
            <div class="row">

              <div class="col-sm-12">
                <div class="container text-left border-red">
                  <h1 class="text-yellow"><em>Your home visit</em></h1>
                  <p class="text-white text-space-size">
                    Your next step to becoming a foster carer is to get in touch with our team.
                  </p>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="container text-left border-red">
                  <h1 class="text-yellow pt-3">Talk to your local agency team</h1>
                  <p class="text-white text-space-size">
                    The Initial Home Visit is designed to get to know you better – and so you can get to know us too.

                    During the home visit, a qualified member of our team will discuss your expectations of being a
                    foster carer. They will share more in-depth information about what the role of a foster carer
                    entails. They will also talk about the importance of fostering and the circumstances that lead
                    children into foster care.
                  </p>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="container text-left border-red">
                  <h1 class="text-yellow pt-3">Ask all the questions you like</h1>
                  <p class="text-white text-space-size">
                    We’ll briefly assess the indoor and outdoor spaces of your home so we can see how a child could
                    benefit from living there. We’ll also start gathering more information about you and your immediate
                    family, which will help prepare you for the rest of the application process.

                    Please feel free to ask as many questions as you need to during this visit. Our intention is that
                    you come away from this meeting feeling that you understand fostering and what it will mean to you
                    and your existing support network of family and friends.
                  </p>
                </div>
              </div>

            </div>
          </div>

        </section>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Application form</a>
      <ng-template ngbNavContent>
        <section class="feedback-area bg-6dbbbd pt-70 pb-70">

          <div class="container">
            <div class="row">

              <div class="col-sm-12">
                <div class="container text-left border-red">
                  <h1 class="text-yellow"><em>Your fostering application form</em></h1>
                  <p class="text-white text-space-size">
                    As you might expect with such an important role, we’ll need to take a detailed look at your life.
                  </p>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="container text-left border-red">
                  <h1 class="text-yellow pt-3">Help all the way</h1>
                  <p class="text-white text-space-size">
                    The next step is to complete a foster carer application form. This will lead to you being assigned
                    an assessing social worker, who will work with you on your assessment (known as a Form F).

                    You’ll need to complete a number of other forms before the assessment process can begin. We need to
                    be thorough due to the nature of the foster care role you’ll be undertaking.

                    Don’t let the paperwork put you off – your local team are there to help if you need guidance.
                </div>
              </div>

            </div>
          </div>

        </section>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Assessment</a>
      <ng-template ngbNavContent>
        <section class="feedback-area bg-6dbbbd pt-70 pb-70">

          <div class="container">
            <div class="row">

              <div class="col-sm-12">
                <div class="container text-left border-red">
                  <h1 class="text-yellow"><em>Foster carer assessment</em></h1>
                  <p class="text-white text-space-size">
                    Your assessing social worker will work with you to complete Form F and prepare you for the panel
                    meeting and the requirements of fostering.
                  </p>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="container text-left border-red">
                  <h1 class="text-yellow pt-3">Regular visits to build a good picture</h1>
                  <p class="text-white text-space-size">
                    This assessment is officially called a Form F. It is completed by your assessing social worker. It
                    outlines the basis of your suitability to be a foster carer with National Fostering Group, and
                    details all your skills and experiences.

                    In short, we work alongside you to document the reasons why your home would be a positive
                    environment for children and young people to live in, and why you would make a great foster parent.

                    During the assessment stage your assessing social worker will make regular planned visits over a
                    period of eight to ten weeks to both share and gather information.

                    This stage of the assessment is a great opportunity for you to learn more about the role of a foster
                    carer. This is just as important we us getting to know more about you and your family members, who
                    will play a pivotal role in a foster child or young person’s care.
                </div>
              </div>

              <div class="col-sm-12">
                <div class="container text-left border-red">
                  <h1 class="text-yellow pt-3">References and checks</h1>
                  <p class="text-white text-space-size">
                    Finally, we will need to collate several personal references and complete medical, financial and
                    Disclosure and Barring Service (DBS) checks.

                    All applicants require a medical check at their local GP, all costs of this are covered by the
                    National Fostering Group. If you have submitted a joint application, both parties must complete a
                    medical. This is not an in-depth health check, it is simply to ensure the applicant or applicants
                    are fit and able to look after children. Your previous medical history will not be given to us, your
                    GP will simply give us recommendations and let us know of any barriers that may affect you becoming
                    a foster carer.

                    Before the next stage, you will also need to go through your finances with a social worker. This
                    isn’t a credit check as such, it is more of an overview of your current financial situation, for
                    example making sure your mortgage or rental payments are up to date. This is to guarantee stability
                    for the child or children you may take care of.
                </div>
              </div>

            </div>
          </div>

        </section>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Skills to Foster</a>
      <ng-template ngbNavContent>
        <section class="feedback-area bg-6dbbbd pt-70 pb-70">

          <div class="container">
            <div class="row">

              <div class="col-sm-12">
                <div class="text-left border-red">
                  <h1 class="text-yellow"><em>Skills to Foster training</em></h1>
                  <p class="text-white text-space-size">
                    As one of the UK’s most experienced fostering agencies, we’re committed to excellence. We want to
                    give you all the skills you need to be your best.
                  </p>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="text-left border-red">
                  <h1 class="text-yellow pt-3">Your basic foster care training</h1>
                  <p class="text-white text-space-size">
                    We provide you with many training opportunities when you become a foster carer with the National
                    Fostering Group. This training is provided free of charge and is delivered at a location near you or
                    online.

                    Your mandatory three-day ‘Skills to Foster’ training course is held at a venue in your region. It
                    equips you with essential skills required to care for a vulnerable child or young person.

                    The course also provides you with an opportunity to meet other foster carers, who can share their
                    expertise. The course is fun, informative and offers real insight into what lies ahead.
                  </p>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="text-left border-red">
                  <h1 class="text-yellow">Skills to Foster curriculum</h1>
                  <p class="text-white text-space-size">
                    The training course consists of seven modules covering everything you need to know to prepare for
                    life as a foster carer and a detailed understanding of what is required:
                  </p>
    <li class="text-white text-space-size">What do foster carers do?</li>
    <li class="text-white text-space-size">Identity</li>
    <li class="text-white text-space-size">Working with others</li>
    <li class="text-white text-space-size">Understanding children in foster care</li>
    <li class="text-white text-space-size"> Safer caring</li>
    <li class="text-white text-space-size">Transitions</li>
    <li class="text-white text-space-size">My family fosters</li>
    <li class="text-white text-space-size">Attachment styles</li>
    <br>
    <p class="text-white text-space-size">
      There will be plenty of opportunities in the future for you to take other courses, including in more specialised
      topics, like supporting young people with Autism and Asperger’s or parent and child fostering. You could ask your
      social worker more about these during your Initial Home Visit.
    </p>
</div>
</div>
</div>
</div>
</section>
</ng-template>
</li>
<li ngbNavItem>
  <a ngbNavLink>Panel meeting</a>
  <ng-template ngbNavContent>
    <section class="feedback-area bg-6dbbbd pt-70 pb-70">

      <div class="container">
        <div class="row">

          <div class="col-sm-12">
            <div class="container text-left border-red">
              <h1 class="text-yellow"><em>Fostering Panel meeting</em></h1>
              <p class="text-white text-space-size">
                A Fostering Panel carries out a final check of all the information that has been gathered throughout the
                assessment process and makes its recommendation.
              </p>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="container text-left border-red">
              <h1 class="text-yellow pt-3">What is a Fostering Panel?</h1>
              <p class="text-white text-space-size">
                Once your assessment and Skills to Foster training are complete, your Form F report and background
                checks are given to a group of fostering, educational and care professionals, known as a Fostering
                Panel.

                Panel meetings take place at your local fostering office or a venue close by. You are invited to attend
                and your assessing social worker will be at your side to offer support throughout.
            </div>
          </div>

          <div class="col-sm-12">
            <div class="container text-left border-red">
              <h1 class="text-yellow pt-3">What happens at your Fostering Panel meeting?</h1>
              <p class="text-white text-space-size">
                The purpose of the panel is so they can carry out one final check of all the information that has been
                gathered throughout the assessment process.

                You will probably be asked questions during the panel process. Your assessing social worker will have
                worked with you in advance to help prepare you. The panel will then consider your assessment and make
                their recommendation.

                Once the panel agrees with your local agency’s recommendation to approve your foster carer application,
                it will then be passed to the Agency Decision Maker (ADM). The ADM’s role is to ensure children are
                safeguarded correctly and will appropriately challenge the agency and Panel when making a final
                decision. You will be informed at the panel whether you are being recommended as approved to the ADM.
              </p>
            </div>
          </div>

        </div>
      </div>

    </section>
  </ng-template>
</li>
<li ngbNavItem>
  <a ngbNavLink>Your first child</a>
  <ng-template ngbNavContent>
    <section class="feedback-area bg-6dbbbd pt-70 pb-70">

      <div class="container">
        <div class="row">

          <div class="col-sm-12">
            <div class="container text-left border-red">
              <h1 class="text-yellow"><em>Your first foster child</em></h1>
              <p class="text-white text-space-size">
                Once your Skills to Foster course has been completed and the ADM has approved your application, you’ll
                be ready for your first child.
              </p>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="container text-left border-red">
              <h1 class="text-yellow pt-3">Matching you to your first foster child</h1>
              <p class="text-white text-space-size">
                The local agency team you have been working with will continue to support you throughout your fostering
                adventure.

                By now, we’ve got to know each other quite well. Our team will use the information you’ve provided to
                match you with your first child- and your foster carer journey will begin.
            </div>
          </div>

          <div class="col-sm-12">
            <div class="container text-left border-red">
              <h1 class="text-yellow pt-3">Ongoing foster carer support</h1>
              <p class="text-white text-space-size">
                Even after you have been approved to become a foster carer with us and are caring for your first child
                or young person, our expert local teams will continue to support you. They will visit regularly and
                remaining a constant source of professional guidance and advice as and when you need it. This includes
                the provision of a 24/7 emergency helpline.
              </p>
            </div>
          </div>

        </div>
      </div>

    </section>
  </ng-template>
</li>
</ul>
<div [ngbNavOutlet]="nav"></div>
</div>