<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Why Foster</li>
            </ul>
            <h2 class="text-uppercase">Why Foster</h2>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>


<section class="feedback-area bg-6dbbbd pt-100 pb-70">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1 class="text-white pb-70">
                    Our carers tell us fostering has changed their lives and the lives of the young people in
                    their care. Find out why people like Graham, a National Fostering Group carer, says “fostering is the best
                    thing I have ever done in my life”.
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="container text-left border-red">
                    <h1 class="text-yellow">Experience the joy of improving lives through fostering</h1>
                    <p class="text-white text-space-size">
                        Helping a child grow up within a safe and nurturing environment is one of the most enriching and
                        rewarding
                        decisions you will ever make.

                        Fostering gives you the priceless opportunity of being able to shape a child’s life. Their
                        lifestyle,
                        interests,
                        personality, language, culture and unforgettable moments can all be influenced by your
                        upbringing; giving
                        them
                        all the opportunities they need to improve their lives for the better.</p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">A role to be proud of</h1>
                    <p class="text-white text-space-size">
                        The same moments of pride and elation exist as if you were caring for any child in terms of
                        being able to watch them personally develop, with the added benefit that you can influence a
                        vulnerable child and watch them as they overcome aspects of life they may have previously found
                        challenging.

                        Being able to rely upon and look up to positive adult role models like you means that a child
                        can experience affection, warmth and memorable family experiences that will set them on the
                        right path to achieve their full potential.
                    </p>
                </div>
            </div>



        </div>
    </div>

    <div class="kindergarten-shape13"><img src="assets/img/kindergarten-shape/k-shape13.png" alt="image"></div>
    <!-- <div class="kindergarten-shape14"><img src="assets/img/kindergarten-shape/k-shape14.png" alt="image"></div> -->
</section>