<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Vision and commitment</li>
            </ul>
            <h2 class="text-uppercase">Vision and commitment</h2>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>

<section class="feedback-area bg-6dbbbd pt-100 pb-70">
    <div class="container text-center">
        <h1 class="text-white ">We focus on the quality of foster care provision to achieve our aim of building
            incredible futures for vulnerable children and young people.
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="container text-left border-red">
                <h1 class="text-yellow">Our vision for fostering</h1>
                <p class="text-white text-space-size">
                    National Fostering Group is committed to building incredible futures for vulnerable children and
                    young people in the UK by empowering them to be happy and make their way in the world.

                    We achieve this by providing foster parents with excellent skills and genuine commitment, who can
                    give children in need a safe, supportive and nurturing environment where they can thrive and be
                    happy.
                </p>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="container text-left">
                <h1 class="text-yellow pt-3">Our commitment to carers</h1>
                <p class="text-white text-space-size">
                    National Fostering Group believes in providing support that allow our carers to focus on the
                    well-being and care of their foster child. To this end, we offer our carers:
                </p>
                <li class="text-white text-space-size">Great local agency coverage for support and training</li>
                <li class="text-white text-space-size"> Excellent free training, including specialisms</li>
                <li class="text-white text-space-size"> Supportive local teams, buddy systems and peer networks</li>
                <li class="text-white text-space-size"> Fair pay</li>
                <li class="text-white text-space-size"> Mockingbird therapeutic care framework for extra support</li>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="container text-left">
                <h1 class="text-yellow pt-3">Mockingbird fostering programme</h1>
                <p class="text-white text-space-size">
                    The Mockingbird Family Model was developed by The Mockingbird Society in America in 2004. National
                    Fostering Group applies its therapeutic method to support our foster carers support a child or young
                    person in their care.
                </p>
                <p class="text-white text-space-size">
                    Mockingbird is a unique fostering wraparound service. It places an experienced carer in a position
                    to support up to ten satellite fostering families and carers. This support comes in the form of
                    specialist training, confidential therapy sessions, emergency respite, and mentoring on a
                    round-the-clock availability basis. It places importance on regular contact with birth families and
                    maintains a close community feel using social events.
                </p>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="container text-left">
                <h1 class="text-yellow pt-3">Our Pledge</h1>
                <p class="text-white text-space-size">
                    As part of the Outcomes First Group, the leading children’s care provider in the UK, National
                    Fostering Group is committed to these pledges.
                </p>
                <li class="text-white text-space-size">Keep children, young people and adults safe and care well for them</li>
                <li class="text-white text-space-size">Help children, young people and adults to get a good education (to help them
                    achieve and enjoy their education)</li>
                <li class="text-white text-space-size">Supportive local teams, buddy systems and peer networks</li>
                <li class="text-white text-space-size">Help children, young people and adults to be healthy and enjoy their lives</li>
                <li class="text-white text-space-size">Support children, young people and adults with their future and next adventure
                </li>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="container text-left">
                <h1 class="text-yellow pt-3">National Fostering Group Quality and Impact Report</h1>
                <p class="text-white text-space-size">
                    Our annual Quality and Impact report really demonstrates the impact of the incredible work we do
                    with the children, young people we care for, and showcases the many achievements and highlights in
                    2020.

                    Read our full Quality and Impact Report here
                </p>
            </div>
        </div>



    </div>
    <div class="kindergarten-shape13"><img src="assets/img/kindergarten-shape/k-shape13.png" alt="image"></div>
    <!-- <div class="kindergarten-shape14"><img src="assets/img/kindergarten-shape/k-shape14.png" alt="image"></div> -->
</section>