<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Who Can Foster</li>
            </ul>
            <h2 class="text-uppercase">Who Can Foster</h2>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>


<section class="feedback-area bg-6dbbbd pt-100 pb-70">
    <div class="container text-center">
        <div class="col-md-10 offset-md-1">
            <h1 class="text-white">We welcome applications from people of all ethnic, cultural and religious
                backgrounds, physical abilities and the LGBT+ community. You can be single, married, a homeowner or a
                tenant. Your ability to care for and nurture a child is what really matters.</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="container text-left border-red">
                    <h1 class="text-yellow">Am I suitable to foster a child?</h1>
                    <p class="text-white text-space-size">
                        As you’re probably aware, we thoroughly assess everyone wanting to become a foster carer.
                        However, there are a few myths surrounding who can foster – and who can’t.

                        To clarify, National Fostering Group carers come from many walks of life. This is a significant
                        advantage when we are looking for a good match. A broad range of foster carers provides more
                        choice for an equally diverse range of children and young people who are looking for a nurturing
                        home life.

                        In short, our main concern is your ability to provide the right care for a vulnerable child or
                        young person. We assess your suitability through:
                    </p>
                    <ul class="foster-points">
                        <li class="text-space-size">Legal and personal references</li>
                        <li class="text-space-size">Your ability to work with us as part of a professional team</li>
                        <li class="text-space-size">Your health, background and lifestyle</li>
                        <li class="text-space-size">Your skills, attitude and personality, including experience of
                            parenting or caring for
                            children</li>
                        <li class="text-space-size">Your ability to provide a caring and nurturing environment,
                            including an assessment of your
                            home. Foster children must each have their own bedroom</li>
                        <li class="text-space-size">Age – you must be at least 21 to become a foster carer with National
                            Fostering Group</li>
                        <li class="text-space-size">Full-time UK residency or permission to remain</li>
                        <li class="text-space-size">Availability to the foster child – if you’re single, you’ll need to
                            be at home full-time or
                            have a flexible, part-time job. If you’re a couple, you’ll need to arrange your working
                            hours so one of you is available at all times.</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow">What can I offer a foster child?</h1>
                    <p class="text-white text-space-size">
                        The answer to this is surprisingly straightforward, as you have already been preparing for a
                        life as a foster carer without even realising it!

                        Whether you have raised children yourself or new to caring for a child or teenager, your wealth
                        of life experience and knowledge of what it takes to either raise children or be a child growing
                        up within a caring and supportive household is hugely advantageous.

                        Many of the children in our care are simply looking for a home where a sense of family
                        togetherness and encouragement to succeed is at the forefront of daily life. Drawing on your own
                        experiences of how your parents or guardians raised you will make the ideal reference point for
                        you to start your fostering adventure together.

                        If you consider yourself as someone who is patient, understanding and readily able to attend to
                        the specific needs of the children in your care, then you are already on the right path towards
                        becoming a great foster carer.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">You have skills you can transfer to fostering</h1>
                    <p class="text-white text-space-size">
                        You don’t have to have had your own children or even worked with kids to enquire about becoming
                        a foster carer with the National Fostering Group. Your individual skills, talents and life
                        experience means that there will always be children that can benefit greatly from your care.

                        Previous first-hand experience and insight into caring for a child, including knowing how best
                        to respond to a child’s health and emotional needs, is naturally an advantage. Our carers come
                        from a wide range of professional fields and have been able to transfer these skills to foster
                        care.

                        If you don’t have your own children or cared for them professionally, it is possible you can
                        draw upon other experiences. Have you ever looked after someone else’s children, even if only
                        for a short time? Do people comment that you are good with young people and they respond well to
                        you?

                        Remember, if you feel you can foster, you’re not in this on your own. We offer excellent support
                        and training to equip you to become a brilliant foster carer.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Become an advocate for your foster child’s health, wellbeing and
                        education</h1>
                    <p class="text-white text-space-size">
                        Our foster carers are passionate in their desire to provide vulnerable children and young people
                        across the UK with everything they need to succeed. This means a safe and stable home where they
                        can live a happy and healthy lifestyle, as well as achieve all that they can from their
                        education.

                        National Fostering Group’s dedicated local teams are behind you all the way, helping you build
                        incredible futures for young people in our care. They will talk through with you and identify
                        areas for personal development as a foster carer, as well as arranging for any additional
                        support services you require.

                        Other foster carers in your area will be there to help you out too, with events and support
                        groups – great opportunities to meet other foster carers; sharing stories and offering advice as
                        part of a tight-knit fostering community.

                        When combining your own life experience with our nationally recognised fostering training and
                        support, you will feel empowered to make the decisions required to ensure that the child or
                        children in your care can grow up to become well-rounded adults within their respective
                        communities.
                </div>
            </div>



        </div>
    </div>

    <div class="kindergarten-shape13"><img src="assets/img/kindergarten-shape/k-shape13.png" alt="image"></div>
    <!-- <div class="kindergarten-shape14"><img src="assets/img/kindergarten-shape/k-shape14.png" alt="image"></div> -->
</section>