<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Thinking Of A Foster</li>
            </ul>
            <h2 class="text-uppercase">Thinking Of A Foster</h2>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>

<section class="feedback-area bg-6dbbbd pt-100 pb-70 mb-100">
    <div class="container text-center">
        <h1 class="text-white ">We welcome applications from people of all ethnic, cultural and religious
            backgrounds, physical abilities and the LGBT+ community. You can be single, married, a homeowner or a
            tenant. Your ability to care for and nurture a child is what really matters.</h1>
    </div>

    <div class="kindergarten-shape13"><img src="assets/img/kindergarten-shape/k-shape13.png" alt="image"></div>
    <div class="kindergarten-shape14"><img src="assets/img/kindergarten-shape/k-shape14.png" alt="image"></div>
</section>

<section class="events-area bg-shape bg-eee8df mb-100">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-6">
                <div class="events-box">
                    <div class="row m-0">
                        <div class="col-lg-12 p-0">
                            <div class="content">
                                <div class="date">
                                    <img src="assets/img/rectangle1.png" alt="image">
                                    <span>What is fostering?</span>
                                </div>
                                <p>Fostering is looking after babies, children and young people who are in need of a safe, stable family environment.</p>
                                <!-- <span class="location"><i class="bx bx-map"></i>Vancover, Canada</span> -->
                                <li><a routerLink="/app-therapeutic-fostering" class="font-weight-bold">Therapeutic fostering</a></li>
                                <li><a routerLink="/app-mockingbird-family-model" class="font-weight-bold">Mockingbird Family Model</a></li>
                                <h3 class="font-weight-black text-center text-uppercase"><a routerLink="/single-events">What is fostering?</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-6">
                <div class="events-box">
                    <div class="row m-0">
                        <div class="col-lg-12 p-0">
                            <div class="content">
                                <div class="date">
                                    <img src="assets/img/rectangle2.png" alt="image">
                                    <span>Who can foster?</span>
                                </div>
                                <p>Single, married, under 30, over 50, homeowner, tenant… your ability to care for and nurture a child is what matters most.</p>
                                <li><a routerLink="/who-can-foster" class="font-weight-bold">Who can foster a child?</a></li>
                                <li><a routerLink="/single-events" class="font-weight-bold">Take our quiz to find out if you can foster</a></li>
                                <h3 class="font-weight-black text-center text-uppercase"><a routerLink="/app-can-i-foster">Can I foster?</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="events-box" style="background-color: #ebbcff;">
                    <div class="row m-0">
                        <div class="col-lg-12 p-0">
                            <div class="content">
                                <div class="date">
                                    <img src="assets/img/rectangle4.png" alt="image">
                                    <span>Becoming a foster carer</span>
                                </div>
                                <p>Discover more about how we help you during the application process and continue this support as you become an approved foster carer.</p>
                                <li><a routerLink="/single-events" class="font-weight-bold">Talk to us</a></li>
                                <li><a routerLink="/single-events" class="font-weight-bold">Home visit</a></li>
                                <li><a routerLink="/single-events" class="font-weight-bold">Application form</a></li>
                                <li><a routerLink="/single-events" class="font-weight-bold">Collaborative assessment</a></li>
                                <li><a routerLink="/single-events" class="font-weight-bold">Skills to Foster training</a></li>
                                <li><a routerLink="/single-events" class="font-weight-bold">Panel meeting</a></li>
                                <li><a routerLink="/single-events" class="font-weight-bold">Your first child</a></li>
                                <h3 class="font-weight-black text-center text-uppercase"><a routerLink="/become-a-foster-care">Find out more</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-6">
                <div class="events-box">
                    <div class="row m-0">
                        <div class="col-lg-12 p-0">
                            <div class="content">
                                <div class="date">
                                    <img src="assets/img/rectangle3.png" alt="image">
                                    <span>Why foster?</span>
                                </div>
                                <p>Enriching and rewarding, fostering changes the lives of carers and their families, as well as the young people in their care.</p>
                                <h3 class="font-weight-black text-center text-uppercase"><a routerLink="/single-events">Why foster?</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-6">
                <div class="events-box">
                    <div class="row m-0">
                        <div class="col-lg-12 p-0">
                            <div class="content">
                                <div class="date">
                                    <img src="assets/img/rectangle1.png" alt="image">
                                    <span>Carer or parent?</span>
                                </div>
                                <p>Some carers prefer ‘foster carer’, while others prefer ‘foster parent’. Is there a difference?</p>
                                <h3 class="font-weight-black text-center text-uppercase"><a routerLink="/app-carers-and-parents">Foster carer or foster parent?
                                </a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="events-box" style="background-color: #ffb0b4;">
                    <div class="row m-0">
                        <div class="col-lg-12 p-0">
                            <div class="content">
                                <div class="date">
                                    <img src="assets/img/rectangle2.png" alt="image">
                                    <span>Types of foster care</span>
                                </div>
                                <p>We offer several types of fostering, which are designed to suit the needs of children, including short term and long term.</p>
                                <li><a routerLink="/single-events" class="font-weight-bold">Emergency foster care</a></li>
                                <li><a routerLink="/single-events" class="font-weight-bold">Short-term fostering</a></li>
                                <li><a routerLink="/single-events" class="font-weight-bold">Parent & child fostering</a></li>
                                <li><a routerLink="/single-events" class="font-weight-bold">Bridging fostering</a></li>
                                <li><a routerLink="/single-events" class="font-weight-bold">Long-term fostering</a></li>
                                <li><a routerLink="/single-events" class="font-weight-bold">Respite foster care</a></li>
                                <li><a routerLink="/single-events" class="font-weight-bold">Fostering siblings</a></li>
                                <li><a routerLink="/single-events" class="font-weight-bold">Remand fostering</a></li>
                                <li><a routerLink="/single-events" class="font-weight-bold">Fostering a baby</a></li>
                                <h3 class="font-weight-black text-center text-uppercase"><a routerLink="/single-events">Types of foster care</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-6">
                <div class="events-box">
                    <div class="row m-0">
                        <div class="col-lg-12 p-0">
                            <div class="content">
                                <div class="date">
                                    <img src="assets/img/rectangle1.png" alt="image">
                                    <span>Choose a foster agency</span>
                                </div>
                                <p>Some carers prefer ‘foster carer’, while others prefer ‘foster parent’. Is there a difference?</p>
                                <h3 class="font-weight-black text-center text-uppercase"><a routerLink="/app-foster-agency">How to choose a foster agency</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-6">
                <div class="events-box">
                    <div class="row m-0">
                        <div class="col-lg-12 p-0">
                            <div class="content">
                                <div class="date">
                                    <img src="assets/img/rectangle2.png" alt="image">
                                    <span>Local authorities</span>
                                </div>
                                <p>Here’s a comparison of independent fostering agencies and local authorities to help you decide who you want to sign up with.</p>
                                <h3 class="font-weight-black text-center text-uppercase"><a routerLink="/app-local-authorities">Foster agency or local authority?</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="kindergarten-shape17"><img src="assets/img/kindergarten-shape/k-shape17.png" alt="image"></div> -->
    <div class="kindergarten-shape18"><img src="assets/img/kindergarten-shape/k-shape18.png" alt="image"></div>
</section>
