<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Foster agency or local authority?</li>
            </ul>
            <h2 class="text-uppercase">Foster agency or local authority?</h2>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>


<section class="feedback-area bg-6dbbbd pt-100 pb-70">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1 class="text-white pb-70">
                    Independent fostering agencies and local authorities both provide safe homes where children and
                    young people can thrive. If you are a prospective foster carer and weighing up which is the best
                    option for you, here is some background information and a checklist of things to consider.
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="container text-left border-red">
                    <h1 class="text-yellow">Foster agencies and local authorities have shared aims</h1>
                    <p class="text-white text-space-size">
                        Both foster agencies and local authorities are dedicated to finding stable, loving homes for
                        vulnerable children. And whichever route you choose, the desire to make a difference to the
                        lives of foster children is the most important criteria.
                    </p>
                    <p class="text-white text-space-size">
                        Ultimately, whether you sign up with your local authority or a foster agency, fostering offers
                        an incredibly rewarding and challenging way to give something back by caring for vulnerable
                        children. In fact, fostering is becoming a popular alternative to the 9 to 5 for people like you
                        who are looking for more meaningful employment.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left border-red">
                    <h1 class="text-yellow pt-3">The relationship between a foster agency and a local authority</h1>
                    <p class="text-white text-space-size">
                        Local authorities are legally responsible for safeguarding all looked after children, including
                        foster children. In the past, before the creation of independent fostering agencies, every child
                        who came into care was placed by the local authority into its own approved bank of foster
                        carers.
                    </p>
                    <p class="text-white text-space-size">
                        Now, foster agencies work alongside local authorities to match a foster child’s needs to the
                        right foster carer. It is a close and supportive relationship, with both fostering agencies and
                        local authorities working to achieve the very best outcomes for vulnerable children and
                        collaborating continuously in relation to their care.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Differences between a foster agency and a local authority</h1>
                    <h2 class="text-yellow">The ages of children</h2>
                    <p class="text-white text-space-size">
                        Foster children placed with agencies like ours tends to be higher. This is because, sadly, it is
                        harder for local authorities to find families for older foster children than it is for babies.
                    </p>
                    <p class="text-white text-space-size">
                        We provide particular support in this area and we advise our foster carers to be as flexible as
                        they can in relation to the age of the foster children they will consider. The rewards of
                        fostering older children are considerable. Read Carol’s frank and emotional story about
                        fostering children of all ages, and how she loves fostering teens.
                    </p>
                    <h2 class="text-yellow">Training</h2>
                    <p class="text-white text-space-size">
                        With a large foster agency like ours, which has the resources, training is second to none. We
                        employ a dedicated and experienced training team offering locally-based training across the UK.
                    </p>
                    <p class="text-white text-space-size">
                        This training is designed to equip our foster carers with all the skills they need to provide
                        the highest level of care for vulnerable children of any age. With excellent national coverage,
                        we offer professional, in-depth and varied training courses at venues local to you.
                    </p>
                    <h2 class="text-yellow">Support</h2>
                    <p class="text-white text-space-size">
                        This is another area where foster agencies like ours really excel. Our supervising social
                        workers (SSWs) typically have a lower caseload than their counterparts within local authorities.
                        This means our SSWs are in the fortunate position of being able to provide more one-to-one
                        support and really get to know foster carers and their families. When you foster with us you
                        will be on first name terms with your SSW, who will be local to you and is available to offer
                        advice and support whenever you need it.
                    </p>
                    <p class="text-white text-space-size">
                        Our foster carers also value our local carer support networks. These put you in contact with
                        other foster carers in your area, who have first-hand experience of whatever challenges you’re
                        facing and can offer support, encouragement and friendly words of advice.
                    </p>
                    <h2 class="text-yellow">Support</h2>
                    <p class="text-white text-space-size">
                        This is another area where foster agencies like ours really excel. Our supervising social
                        workers (SSWs) typically have a lower caseload than their counterparts within local authorities.
                        This means our SSWs are in the fortunate position of being able to provide more one-to-one
                        support and really get to know foster carers and their families. When you foster with us you
                        will be on first name terms with your SSW, who will be local to you and is available to offer
                        advice and support whenever you need it.
                    </p>
                    <h2 class="text-yellow">Fees and allowances</h2>
                    <p class="text-white text-space-size">
                        Once again, thanks to our size and resources we are able to pay higher fees than most local
                        authorities (and many smaller fostering agencies too). Our fees and allowances are generous, in
                        recognition of the amazing job done by our foster families. And, while income is not a primary
                        motivating factor for most foster carers, it can be reassuring to know that your efforts will be
                        well-rewarded.
                    </p>
                    <h2 class="text-yellow">Perks and benefits</h2>
                    <p class="text-white text-space-size">
                        Many different perks and benefits have been negotiated by National Fostering Group as a thank
                        you to our wonderful fostering community. When you foster with us you will benefit from:
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Pay</h1>
                    <p class="text-white text-space-size">
                        Choose a foster agency who is transparent about how much fostering allowance you will be paid
                        and what else you might get financial help with, like birthday presents or disability
                        modifications to your home. Choose a foster agency that encourages you to discuss finances with
                        them.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Training</h1>
                    <p class="text-white text-space-size">
                        As well as giving you the skills to fulfil your role as a foster carer, training is an
                        opportunity for personal development and can help make you the fostering expert. Choose a foster
                        agency that gives you plenty of good training opportunities at a venue local to you or online.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Perks and benefits</h1>
                    <p class="text-white text-space-size">
                        From foster carer home insurance to high street discounts and legal advice, a first class foster
                        agency will make sure you have everything you need – and then some! After all, it’s the little
                        things that make all the difference.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Mission and values</h1>
                    <p class="text-white text-space-size">
                        Foster carers are self employed but it’s an important role and you’re entitled to know and feel
                        you’re part of something bigger. Your ideal foster agency should articulate what they stand for
                        and everything they do should uphold this vision.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Oftsed ratings</h1>
                    <p class="text-white text-space-size">
                        Every independent fostering agency has to register with Ofsted and have regular inspections.
                        Make sure your foster agency is rated as OUTSTANDING or GOOD with a clear roadmap to consistent
                        improvement and excellence.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Pay</h1>
                    <p class="text-white text-space-size">
                        Choose a foster agency who is transparent about how much fostering allowance you will be paid
                        and what else you might get financial help with, like birthday presents or disability
                        modifications to your home. Choose a foster agency that encourages you to discuss finances with
                        them.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Reputation</h1>
                    <p class="text-white text-space-size">
                        What do other foster carers say about a foster agency? What do the foster children themselves
                        say? Testimonials and case studies are insightful when you’re trying to get a feel for whether a
                        foster agency is going to be good for you
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Partnerships</h1>
                    <p class="text-white text-space-size">
                        Hand-in-hand with its mission and values, a foster agency will forge good relationships with
                        other organisations. This will start with the local authority but will be much further reaching.
                        Our partners, for example, include Investors in People, The Fostering Network and New Family
                        Social.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Experience</h1>
                    <p class="text-white text-space-size">
                        Look for a foster agency that is well-established. There’s nothing quite like knowing you have
                        experience at your back. In addition, foster agencies who have been established for a number of
                        years are more financially robust. On a personal level, the experience of your local teams is
                        important too – these are the people you will have most contact with, who will be supporting you
                        in your role.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">What is an independent fostering agency?</h1>
                    <p class="text-white text-space-size">
                        An independent fostering agency (also known simply as a foster agency) trains, approves and
                        supports foster carers as they look after children or young people. They can be a private
                        organisation or have charitable status and must be registered with Ofsted.
                    </p>
                    <p class="text-white text-space-size">
                        Children and young people who can’t, for whatever reason, continue to be cared for at home
                        become the responsibility of their local authority. Unfortunately, there is high demand for
                        foster carers that local authorities can’t fulfil. Fostering agencies work with local
                        authorities to provide the skilled foster carers needed.
                    </p>
                    <p class="text-white text-space-size">
                        The requirements of the foster child placements vary, from emergency or short term to long term
                        and remand fostering.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">What’s your next step?</h1>
                    <p class="text-white text-space-size">
                        If you have questions, your local National Fostering Group team will be more than happy to have
                        an informal chat, with no pressure to sign up.
                    </p>
                </div>
            </div>


        </div>
    </div>

    <div class="kindergarten-shape13"><img src="assets/img/kindergarten-shape/k-shape13.png" alt="image"></div>
    <!-- <div class="kindergarten-shape14"><img src="assets/img/kindergarten-shape/k-shape14.png" alt="image"></div> -->
</section>