<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <a routerLink="/" class="logo"><img src="assets/img/logo2.png" alt="logo"></a>
                    <p>Working to bring significant changes in online-based learning by doing extensive research for course curriculum preparation, student engagements, and looking forward to the flexible education!</p>
                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Explore</h3>
                    <ul class="footer-links-list">
                        <li><a routerLink="/">About us</a></li>
                        <li><a routerLink="/about-1">Contact Us</a></li>
                        <li><a routerLink="/courses-1">Sitemap</a></li>
                        <li><a routerLink="/events">Blogs</a></li>
                        <li><a routerLink="/contact">Jobs / Volunteering</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Our Policy </h3>
                    <ul class="footer-links-list">
                        <li><a routerLink="/">Data Security</a></li>
                        <li><a routerLink="/">Cookie Policy</a></li>
                        <li><a routerLink="/">Privacy policy</a></li>
                        <li><a routerLink="/">GDPR Policy</a></li>
                        <li><a routerLink="/">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Our Services </h3>
                    <ul class="footer-links-list">
                        <li><a routerLink="/">Similar to CoramBaaf</a></li>
                        <li><a routerLink="/">Similar to FosterTalk</a></li>
                        <li><a routerLink="/">Similar to Community Care</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Address</h3>
                    <ul class="footer-contact-info">
                        <li><i class='bx bx-map'></i>2750 Quadra Street Golden Victoria Road, New York, USA</li>
                        <li><i class='bx bx-phone-call'></i><a href="tel:+44587154756">+1 (123) 456 7890</a></li>
                        <li><i class='bx bx-envelope'></i><a href="mailto:info@fostercare.co.uk">info@fostercare.co.uk</a></li>
                        <li><i class='bx bxs-inbox'></i><a href="tel:+557854578964">+55 785 4578964</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-bottom-area">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-8">
                    <p><i class='bx bx-copyright'></i>2020 fostering App is Proudly Powered by
                    <b>v1.0.0 (Build:{{appVersion}})</b>
                        <a target="_blank" href="orcalo.co.uk"> Orcalo</a></p>
                </div>

                <div class="col-lg-4 col-md-4">
                    <!-- <ul>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                        <li><a routerLink="/terms-of-service">Terms & Conditions</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</footer>

<div class="go-top"><i class='bx bx-chevron-up'></i></div>
