<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Foster carers & foster parents</li>
            </ul>
            <h2 class="text-uppercase">Foster carers & foster parents</h2>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>


<section class="feedback-area bg-6dbbbd pt-100 pb-70">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1 class="text-white pb-70">
                    Some carers prefer to be known as a ‘foster carer’, while others prefer to use ‘foster parent’. In practice,
                    it’s exactly the same role.
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="container text-left border-red">
                    <h1 class="text-yellow">Experience the joy of improving lives through fostering</h1>
                    <p class="text-white text-space-size">
                        We don’t mind at all whether you want to call yourself a foster carer or a foster parent. Our
                        priority is the end result – achieving good outcomes for our children within a nurturing home
                        environment.
                    </p>
                    <p class="text-white text-space-size">
                        Everyone who fosters a child for National Fostering Group performs a highly skilled role that
                        requires a professional approach and in-depth training. They are expected to contribute to
                        meetings with other care professionals, follow care plans, and even write reports on occasions
                        when they are required. And they are paid for looking after foster children.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Foster carer</h1>
                    <p class="text-white text-space-size">
                        Some of you feel that the professional demands of the role aren’t quite reflected by the word
                        ‘parent’, and so prefer to be called a foster carer. This is the term we use most of the time,
                        because, when we asked our carers, this is the term most said they prefer.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Foster parent</h1>
                    <p class="text-white text-space-size">
                        However, some carers like the term ‘foster parent’ because, to them, it’s a softer, warmer term
                        that makes more of the nurturing side of the relationship between them and the foster child.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">What’s in a name?</h1>
                    <p class="text-white text-space-size">
                        In reality, everyone who looks after a foster child feels an emotional connection, whether they
                        call themselves a foster carer or a foster parent. There is no right answer – you can use
                        whichever term that suits you. You all do the same brilliant job and help us provide vulnerable
                        children with good outcomes.
                    </p>
                    <p class="text-white text-space-size">
                        Whether you are a <b>foster carer</b> or a <b>foster parent</b> with National Fostering Group, you are:
                    </p>
                    <li class="text-white text-space-size">Patient</li>
                    <li class="text-white text-space-size">Professional</li>
                    <li class="text-white text-space-size">Compassionate</li>
                    <li class="text-white text-space-size">Skilled</li>
                    <li class="text-white text-space-size">Warm-hearted</li>
                    <li class="text-white text-space-size">Well-trained</li>
                    <p class="text-white text-space-size">
                        You can read more about the qualities you need to look after a foster child on our Who Can
                        Foster page.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="container text-left">
                    <h1 class="text-yellow pt-3">Need more information?</h1>
                    <p class="text-white text-space-size">
                        The best way to get more information is to fill out our enquiry form for a callback. An advisor
                        from your local team will get back in touch to explain more about becoming a foster carer or
                        foster parent in the UK, and answer any questions you have at this stage.
                    </p>
                </div>
            </div>


        </div>
    </div>

    <div class="kindergarten-shape13"><img src="assets/img/kindergarten-shape/k-shape13.png" alt="image"></div>
    <!-- <div class="kindergarten-shape14"><img src="assets/img/kindergarten-shape/k-shape14.png" alt="image"></div> -->
</section>