<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>National Fostering Group quality standards</li>
            </ul>
            <h2 class="text-uppercase">National Fostering Group quality standards</h2>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>

<section class="feedback-area bg-6dbbbd pt-100 pb-70">
    <div class="container text-center">
        <div class="col-md-10 offset-md-1">
            <h1 class="text-white ">
                All Outcomes First Group services are inspected by regulators working on behalf of the UK Government.
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="container text-left border-red">
                <p class="text-white text-space-size">
                    The quality of National Fostering Group’s services is highly regarded by Ofsted, the Care
                    Inspectorate for Scotland, and the Care Inspectorate Wales. Each of our agencies in England, for
                    example, which are monitored by Ofsted, received a GOOD our OUTSTANDING rating at its last
                    inspection.

                    We continually strive to provide the very best fostering services to babies, children and young
                    people. The high quality standards we have in place are stringently upheld by our experienced and
                    committed teams of care professionals.
                </p>
                <li class="text-white text-space-size">
                    Our <b>Safeguarding & Quality Committee</b> provides assurance to the Board of Directors
                    that robust and effective systems are in place. The team includes colleagues with social work, local
                    authority, residential and teaching experience, and two previous Ofsted inspectors.
                </li><br>
                <li class="text-white text-space-size">
                    Our <b>Quality and Compliance team</b> ensures our Fostering services consistently
                    exceed the requirements set out in legislation, national minimum standards and statutory guidance in
                    relation to safeguarding those in our care.
                </li><br>
                <li class="text-white text-space-size">
                    Our <b>Group Education Support Officer</b> provides a point of contact for all
                    colleagues and foster parents who require advice and support for a child or young person in any of
                    our educational and care settings. They work alongside foster parents, social workers, residential
                    managers, schools and local authority agencies in order to intervene appropriately when supporting
                    the continued learning of our children and young people.
                </li>
            </div>
        </div>

    </div>
    <div class="kindergarten-shape13"><img src="assets/img/kindergarten-shape/k-shape13.png" alt="image"></div>
    <!-- <div class="kindergarten-shape14"><img src="assets/img/kindergarten-shape/k-shape14.png" alt="image"></div> -->
</section>